<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jaguar.com.patientcare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientMenuActivity"
            android:label="@string/title_activity_symptoms" >
        </activity>
        <activity
            android:name=".SymptomsListActivity"
            android:label="@string/title_activity_symptoms_list" >
        </activity>
        <activity
            android:name=".SymptomsSummaryActivity"
            android:label="@string/title_activity_symptoms_summary" >
        </activity>
        <activity
            android:name=".SymptomsActivity"
            android:label="@string/title_activity_symptoms" >
        </activity>
        <activity
            android:name=".RegisterPatientActivity"
            android:label="@string/title_activity_register_patient" >
        </activity>
        <activity
            android:name=".PatientListActivity"
            android:label="@string/title_activity_patient_list" >
        </activity>
        <activity
            android:name=".PatientSummaryActivity"
            android:label="@string/title_activity_patient_summary" >
        </activity>
    </application>

</manifest>
